html {
  height: 100vh;
}
body {
  margin: 0 auto;
  height: 100%;
}
body {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#username-heading {
  text-decoration: none;
  margin: 0 auto;
  font-size: 7vmax !important;
  text-align: center;
  color: white; 
  width: 100%;
}
.alpha {
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
#play-button {
  width: 50px;
  height: 50px;
  opacity: 0;
}
